@font-face {
  font-family: "Gilroy - Extra Bold";
  src:
    local("gilroyextrabold"),
    local("Gilroy-ExtraBold"),
    url("../fonts/gilroyextrabold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src:
    local("gilroylight"),
    local("Gilroy-Light"),
    url("../fonts/gilroylight-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans Light", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*Параметры текста*/
/*Шрифт Gilroy*/
.main-nav_wrapper,
.main-nav_wrapper-catalog,
.main-nav_list-bottom {
  font-family: "Gilroy - Extra Bold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.categories-wrapper {
  font-family: "Gilroy - Extra Bold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.18px;
}

.filters legend,
.product-link {
  font-family: "Gilroy - Extra Bold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.18px;
}

.button {
  font-family: "Gilroy - Extra Bold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.15px;

  /* border: 1px solid #f4d361;
  background-color: #f0c52e; */
}

.write-us-form {
  font-family: "Gilroy - Extra Bold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  color: #000000;
}

.catalog-page h2,
.pagination-item {
  font-family: "Gilroy - Extra Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}
.sorting h2 {
  letter-spacing: 3.6px;
}

.badge-text {
  font-family: "Gilroy - Extra Bold", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.25px;
}

.about-us ul {
  font-family: "Gilroy - Extra Bold", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
}

.filter-button {
  font-family: "Gilroy - Extra Bold", sans-serif;
  font-size: 18px;
  line-height: auto;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.15px;
}

.advantages-title,
.about-us-title,
.contacts-title {
  font-family: "Gilroy - Extra Bold", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 0.21px;
}

.page-title {
  font-family: "Gilroy - Extra Bold", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 0.17px;
}

.device-logo-top  {
  font-family: "Gilroy - Extra Bold", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 0.26px;
}

.device-logo-bottom  {
font-family: "Gilroy - Extra Bold";
font-size: 48px;
font-weight: 400;
line-height: 48px;
text-transform: uppercase;
letter-spacing: 0.48px;
}

.promo-title {
  font-family: "Gilroy - Extra Bold", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 400;
  letter-spacing: 0.17px;
}

.product-price {
  font-family: "Gilroy Light", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.16px;
}

.promo-item-description td {
  font-family: "Gilroy Light", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.36px;
}

/*Шрифт Open Sans*/

.promo-item-description th {
  font-family: "Open Sans Light", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.13px;
}

.sorting-type {
  font-family: "Open Sans Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"],
.write-us-form textarea {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(70, 70, 70, 0.4);
}

.breadcrumbs,
.filters {
  font-family: "Open Sans Light", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.14px;
}

.breadcrumbs-link  {
  opacity: 0.3;
}

.category,
.user-nav_list-bottom {
  font-family: "Open Sans Light", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0.15px;
}

.advantages-text {
  line-height: 30px;
  letter-spacing: 0.15px;
}

.logout-button  {
  opacity: 0.3;
}

/*Фон, цвет*/

.header-nav_wrapper {
  background-color: rgba(247, 226, 150);
}

/* .advantages-wrapper {
  background-color: #e5e5e5;
} */

.footer-wrapper {
  background-color: #464646;
  color: #ffffff;
  /* margin-top: 80px; */
}

.footer-wrapper a {
  color: #ffffff;
}

/* .left-column {
  background-color: #efefef;
} */

/* .left-column_header {
  background-color: #dbdbdb;
}

.right-column {
  background-color: #ffffff;
}

.right-column_header {
  background-color: #ebebeb;
}

.pagination-list {
  background-color: #ebebeb;
} */

/*Иконки и лого*/

/* .search-icon {
  height: 47px;
  box-sizing: border-box;
}

.search-icon:active {
  display: flex;
  border-bottom: 2px solid black;
}

.nav_search-button  {
  display: none;
  padding: 15px 19px;
  background-color: transparent;
  border: 2px solid #000000;
  border-bottom: none;
}

.search-icon:active .nav_search-button {
  display: flex;
}

.nav_search {
  background-color: transparent;
  border: none;
  padding-left: 40px;
} */

.search-icon,
.user-icon,
.user-icon-bottom,
.compare-icon,
.compare-icon-bottom,
.basket-icon,
.basket-icon-bottom,
.plus-icon {
  position: relative;
}

.device-logo-top {
  color: #000000;
}
.footer-wrapper .device-logo-bottom {
  color: #ffc600;
}

.search-icon::before {
  content: url("../img/search.svg");
  position: absolute;
  left: 4px;
  top: 17px;
  line-height: 1;
}

.user-icon::before {
  content: url("../img/user.svg");
  position: absolute;
  left: -27px;
  top: 0px;
  line-height: 1;
}

.user-icon-bottom::before {
  content: url("../img/user-bottom.svg");
  position: absolute;
  left: -27px;
  top: 0px;
  line-height: 1;
}

.compare-icon::before {
  content: url("../img/compare.svg");
  position: absolute;
  left: -20px;
  top: 0px;
  line-height: 1;
}

.compare-icon-bottom::before {
  content: url("../img/compare-bottom.svg");
  position: absolute;
  left: -20px;
  top: 0px;
  line-height: 1;
}

.basket-icon::before {
  content: url("../img/cart.svg");
  position: absolute;
  left: -24px;
  top: 0px;
  line-height: 1;
}

.basket-icon-bottom::before {
  content: url("../img/cart-bottom.svg");
  position: absolute;
  left: -24px;
  top: 0px;
  line-height: 1;
}

.plus-icon::after {
  content: url("../img/plus.png");
  position: absolute;
  right: -32px;
  top: 0px;
  line-height: 1;
}

.contacts {
  position: relative;
}

.contacts-title::before {
  content:"";
  position:absolute;
  left: 3px;
  width: 80px;
  height: 7px;
  top: -10px;
  background-color: #000000;
}

.about-us-title::before {
  content:"";
  position:absolute;
  left: 2px;
  width: 80px;
  height: 7px;
  top: -10px;
  background-color: #000000;
}

.popular-icon-background {
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover .popular-icon-background {
  background-color: rgba(240, 197, 46, 1);
}

.popular-icon-background:active i {
  opacity: 0.3;
}

.popular-icon-1::before {
  content: url("../img/popular-1.svg");
}

.popular-icon-2 {
  position: relative;
}
.popular-icon-2::before {
  content: "";
  position: absolute;
  background: url("../img/popular-2.svg");
  width: 86px;
  height: 117px;
  left: -42px;
  bottom: -78px;
}

.popular-icon-3::before {
  content: url("../img/popular-3.svg");
}

.popular-icon-4::before {
  content: url("../img/popular-4.svg");
}

.popular-icon-5::before {
  content: url("../img/popular-5.svg");
}

.popular-icon-6::before {
  content: url("../img/popular-6.svg");
}

.brand-link .logo-colored {
  display: none;
}

.brand-link:hover .logo-not-colored {
  display: none;
}

.brand-link:hover .logo-colored {
  display: inline-block;
}


.facebook-icon::before {
  content: url("../img/facebook.svg");
  opacity: 0.3;
}

.instagram-icon::before {
  content: url("../img/instagram.svg");
  opacity: 0.3;
}

.twitter-icon::before {
  content: url("../img/twitter.svg");
  opacity: 0.3;
}

.htmlacademy-logo::before {
  content: url("../img/logo-html.svg");
}

.icon-filter-button::before {
  content: url("../img/filter-button.svg");
}

.icon-up-dir::before {
  content: url("../img/icon-up-dir.svg");
}

.icon-down-dir::before {
  content: url("../img/icon-down-dir.svg");
}


.user-icon:hover,
.user-icon-bottom:hover,
.compare-icon-bottom:hover,
.basket-icon-bottom:hover,
.device-logo-top:hover,
.device-logo-bottom:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.twitter-icon:hover,
.htmlacademy-logo:hover,
.nav_link:hover,
.pagination-number:hover,
.category:hover {
  opacity: 0.6;
}

.compare-icon:hover,
.basket-icon:hover {
  opacity: 0.8;
}

.user-icon:active,
.user-icon-bottom:active,
.compare-icon:active,
.compare-icon-bottom:active,
.basket-icon:active,
.basket-icon-bottom:active,
.device-logo-top:active,
.device-logo-bottom:active,
.htmlacademy-logo:active,
.nav_link:active,
.category:active,
.pagination-previous:active,
.pagination-next:active {
  opacity: 0.3;
}

.facebook-icon:active,
.instagram-icon:active,
.twitter-icon:active {
  opacity: 0.1;
}

.icon-up-dir,
.icon-down-dir,
.sorting-type li {
  opacity: 0.2;
}

.icon-up-dir:hover,
.icon-down-dir:hover,
.sorting-type li:hover {
  opacity: 0.4;
}

.icon-up-dir:active,
.icon-down-dir:active,
.sorting-type li:active,
.pagination-number:active {
  opacity: 1;
}

.product-image:hover {
  opacity: 0.7;
}

.pagination-previous:hover,
.pagination-next:hover {
  background-color: #d9d9d9;
}
.pagination-number {
  opacity: 0.3;
}



/*Слайдеры*/

.main-slider-wrapper input[type="radio"],
.slider-wrapper input[type="radio"] {
  display: none;
}

.slider-slides-wrapper > * {
  display: none;
}

.slider-slides-wrapper {
  width: 880px;
}

#advantages-slide-1:checked ~ .slider-slides-wrapper .advantages-slide-1,
#advantages-slide-2:checked ~ .slider-slides-wrapper .advantages-slide-2,
#advantages-slide-3:checked ~ .slider-slides-wrapper .advantages-slide-3 {
  /* display: block; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-slider-slides-wrapper > * {
  display: none;
}

#promo-slide-1:checked ~ .main-slider-slides-wrapper .promo-slide-1,
#promo-slide-2:checked ~ .main-slider-slides-wrapper .promo-slide-2,
#promo-slide-3:checked ~ .main-slider-slides-wrapper .promo-slide-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#advantages-slide-1:checked ~ .slider-controls-wrapper .slider-button-1::before,
#advantages-slide-2:checked ~ .slider-controls-wrapper .slider-button-2::before,
#advantages-slide-3:checked ~ .slider-controls-wrapper .slider-button-3::before {
  top: 0;
  width: 280px;
  height: 100%;
  outline: none;
  background-color: #000000;
}
#advantages-slide-1:checked ~ .slider-controls-wrapper .slider-button-1,
#advantages-slide-2:checked ~ .slider-controls-wrapper .slider-button-2,
#advantages-slide-3:checked ~ .slider-controls-wrapper .slider-button-3 {
  color: #f7e184;
}


/* .container ul {
  margin: 0;
  padding: 0;
  list-style: none;
} */
/* Подменю */
.main-menu > li {
  position: relative;
}

.main-menu > li:hover .sub-menu {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 4;
}

.sub-menu {
  display: none;
  position: absolute;

  margin: 0;
  padding-top: 33px;
  padding-bottom: 22px;
  padding-left: 60px;
  padding-right: 20px;

  top: 23px;
  left: -60px;

  width: 1080px;
  background-color: rgba(247, 226, 150);
}

.sub-menu-1,
.sub-menu-3 {
  margin: 0;
  padding-left: 0;
  padding-right: 58px;
  list-style: none;
}
.sub-menu-2 {
  margin: 0;
  padding-right: 77px;
  list-style: none;
}

/* Сетка */
.header-wrapper .container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  width: 1160px;
}

.device-logo-top {
  padding-left: 60px;
  padding-right: 60px;
  z-index: 2;
}

.header-nav_wrapper {
  display: flex;
  flex-direction: column;

  margin-top: -25px;
  padding-top: 35px;
  padding-left: 60px;
  padding-right: 60px;
}

.user-nav_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 47px;
}

.main-nav_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-height: 186px;
}

.main-nav_wrapper-catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-height: 73px;
}

.search {
  flex-basis: 440px;
}

.main-nav_categories {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-basis: 440px;
}

.user-nav_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 473px;

  margin: 0;
  padding: 0;
  list-style: none;
}
.user-nav_list-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: calc(100% - 195px);

  margin: 0;
  padding: 0;
  list-style: none;
}
.user-nav_list-bottom .user-nav_item {
  margin-left: 65px;
}
.user-nav_list-bottom .user-nav_item:first-child  {
  margin-left: 0;
}
.username-wrapper {
  margin-right: 20px;
}

.main-nav_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav_list-top  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 500px;
}
.main-nav_list-top .nav_item:nth-child(3n)  {
  padding-left: 76px;
}

.main-nav_list-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 423px;
}

.footer-wrapper .container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.user-nav_wrapper-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 26px;
}

.footer-info_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 66px;
  /* размер возможно неверный */
}

.socials-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 67px;
   /* размер возможно неверный */
}

.footer-socials ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 141px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.socials-wrapper::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}
.socials-wrapper {
  position: relative;
}

.promo-description::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0px;

  width: 100px;
  height: 7px;
  background-color: #ffffff;
}
.promo-slide-1 .promo-description::after {
  content: "01";
  position: absolute;
  top: -13px;
  right: 0px;


  background-color: #ffffff;
}

.promo-slide-2 .promo-description::after {
  content: "02";
  position: absolute;
  top: -13px;
  right: 0px;

  background-color: #ffffff;
}

.promo-slide-3 .promo-description::after {
  content: "03";
  position: absolute;
  top: -13px;
  right: 0px;

  background-color: #ffffff;
}

.promo-description {
  position: relative;
  display: flex;
  flex-direction: column;

  min-width: 500px;
  /* flex-basis: 500px; */
  padding-top: 38px;
}


.promo-slide-1 .promo-description::after,
.promo-slide-2 .promo-description::after,
.promo-slide-3 .promo-description::after    {
font-family: "Gilroy - Extra Bold";
font-size: 179px;
line-height: 179.2px;
font-weight: 400;
letter-spacing: 0.36px;
color: #ffffff;
background-color: transparent;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.promo-wrapper {
  background-color: #ffffff;
}

.promo-wrapper .container {
  display: flex;
  flex-direction: column;

  margin-top: -111px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main-slider-wrapper {
  /* padding-left: 90px; */
  padding-right: 60px;
  /* padding-right: 54px; */
  position: relative;
}
.promo-image {
  max-width: 444px;
  min-height: 500px;
}
.promo-image.promo-image-1 {
  padding-left: 91px;
}
.promo-image.promo-image-2 {
  padding-left: 116px;
}
.promo-image.promo-image-3 {
  padding-left: 31px;
}

.advantages-slider {
  margin-left: 120px;
  /* margin-right: 45px; */
  flex-basis: 760px;
}
.advantages-slider figure {
  min-height: 206px;
  margin: 0;
}
.advantages-slide-1 figure {
  margin-right: 66px;
}
.advantages-slide-2 figure {
  margin-right: 47px;
}
.advantages-slide-3 figure {
  margin-right: 70px;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 33px;
}

.categories-wrapper {
  background-color: #ffffff;
}

.categories-wrapper .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.popular-group-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-group-list span {
  display: inline-block;
  max-width: 160px;
  margin-top: 34px;
}

.slider-controls {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-controls li {
  margin-bottom: 24px;
}

.advantages-wrapper {
  margin-top: 75px;
  padding-bottom: 105px;
  min-height: 250px;

  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 27%, #e5e5e5 27%, #e5e5e5 100%);

}

.advantages-wrapper .container {
  margin-top: 84px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.slider-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.manufacturers-wrapper {
  background-color: #ffffff;
}

.manufacturers-wrapper .container {
  margin-top: 94px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.brand-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
}

.info-wrapper {
  background-color: #ffffff;
}

.info-wrapper .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 93px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.about-us {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 465px;
}


.contacts {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.map-wrapper figure {
  margin: 0;
  margin-top: 14px;
  margin-bottom: 60px;
  padding: 0;
  max-height: 380px;
}

.catalog-list figure {
  margin: 0;
  padding: 0;
  max-height: 380px;
}
.promo-slider figure {
  margin: 0;
  padding: 0;
}

/* Сетка каталога */

.navigation-bar .container {
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.page-title {
  padding-left: 60px;
  padding-top: 5px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin: 0;
  margin-top: -5px;
  margin-bottom: 45px;
  list-style: none;
}

ul.breadcrumbs {
  padding-left: 60px;
}
.breadcrumbs li {
  position: relative;
  padding-right: 39px;
}
.breadcrumbs li::after {
  position: absolute;
  content: "";
  background: url("../img/nav-arrow.svg") no-repeat;
  width: 4px;
  height: 7px;
  top: 8px;
  right: 17px;
}
.breadcrumbs li:last-child::after {
  content: "";
  background: none;
}

.catalog-page {
  display: flex;
  flex-direction: row;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: calc((100% - 1160px)/2 + 328px);
}

.left-column_header {
  background-color: #dbdbdb;
  padding-left: 20px;
}

.left-column_header-content {
  margin-left: auto;
  padding-left: 60px;
  width: 268px;
}

.left-column_body {
  background-color: #efefef;
  padding-left: 20px;
  height: 100%;
}

.left-column_body-content {
  margin-left: auto;
  padding-left: 60px;
  width: 268px;
}

.filters {
  display: flex;
  flex-direction: column;
  padding-top: 69px;
  padding-right: 68px;
}

.filters fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  /* padding-bottom: 46px; */
  padding-bottom: 24px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.filters fieldset:first-child {
  padding-bottom: 78px;
}


.filters legend {
  padding-top: 11px;
  padding-bottom: 20px;
  border-top: 2px solid #000000;
  width: 100%;
}

.right-column {
  display: flex;
  flex-direction: column;
  width: calc((100% - 1160px)/2 + 832px);
}

.right-column_header {
  background-color: #ebebeb;
  padding-right: 20px;
}

.right-column_header-content {
  margin-right: auto;
  padding-left: 72px;
  width: 760px;
}

.sorting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.sorting-type {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;
  list-style: none;
}

.right-column_body {
  background-color: #ffffff;
  padding-right: 20px;
}

.right-column_body-content {
  display: flex;
  flex-direction: column;

  margin-right: auto;
  padding-top: 69px;
  padding-left: 72px;
  width: 760px;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
}

.product-title {
  margin: 0;
  padding-top: 35px;
}

.catalog-item {
  height: 506px;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-bottom: 77px;
  padding: 0;
  list-style: none;
  height: 70px;
  background-color: #ebebeb;
}

.pagination-item {
  padding-left: 15px;
  padding-right: 15px;
}

.pagination-previous {
  margin-right: auto;
  padding-left: 30px;
  padding-top: 23px;
  padding-right: 30px;
  padding-bottom: 23px;
}

.pagination-next {
  margin-left: auto;
  padding-left: 32px;
  padding-top: 23px;
  padding-right: 30px;
  padding-bottom: 23px;
}

.slider-controls-wrapper {
  position: relative;
  width: 280px;
}

.slider-controls::after {
  content: "";
  position: absolute;
  top: -80px;
  right: -5px;
  width: 7px;
  height: 319px;
  background-color :#000000;
}

.about-us ul {
  margin-top: 42px;
  margin-bottom: 55px;
}

.about-us li {
  position: relative;
  list-style: none;
}

.about-us li::before {
  content: "";
  position: absolute;
  /* transform-origin: 50% 50%; */

  /* vertical-align: middle; */
  top: 50%;
  margin-top: -3px;
  left: -34px;
  width: 4px;
  height: 4px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  /* transform: translateY(50%); */
}

.about-us-text,
.contacts-text {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 23px;
}

.button {
  position: relative;
  z-index: 2;
  text-decoration: none;
  vertical-align: top;
  text-align: center;
  /* padding: 8px 5px; */
  padding: 8px 0px;
  width: 260px;
}

.button::before {
 content: "";
 position: absolute;

 top: 40%;
 left: 0;

 width: 100%;
 height: 20%;

 /* width: 260px;
 height: 6px; */
 background-color: #f0c52e;

 /* border-top: 1px solid #f4d361;
 border-bottom: 1px solid #f4d361; */
 outline: 1px solid #f4d361;
 z-index: -1;

 transition: all .2s ease-in-out;
}

.button:hover::before {
  top: 0;
  height: 100%;
  outline: none;
}

.promo-button {
  width: 220px;
}

.button-write-us,
.filter-button  {
  width: 200px;
}

.slider-button {
  display: inline-block;
  width: 160px;
}

.slider-button:active {
  color: #f7e184;
}

.slider-button:active::before {
  top: 0;
  width: 280px;
  height: 100%;
  outline: none;
  background-color: #000000;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

button.button {
  background-color: transparent;
  border: none;
  /* padding: 0; */
}

.sorting-type li {
  padding-left: 15px;
  padding-right: 15px;
}

.sorting-type li:first-child {
  padding-left: 55px;
}

.icon-dir {
  margin-left: auto;
}

.icon-up-dir,
.icon-down-dir {
  padding-left: 19px;
}

.product-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-link {
  max-width: 260px;
  word-break: keep-all;
}

.product-price  {
  padding-left: 20px;
  max-width: 80px;
  word-break: break-all;
}

.promo-slider {
  /* margin-top: -118px; */
  margin-bottom: 95px;
}

.promo-title {
  margin-top: 41px;
  margin-bottom: 20px;
  z-index: 3;
}

.promo-text {
  margin: 0;
  padding-bottom: 42px;
}

.promo-item-description {
  padding-top: 46px;
  text-align: left;
}

.promo-item-description td {
  padding-right: 81px;
}

.promo-item-description th {
  padding-left: 3px;
  padding-top: 6px;
  padding-right: 81px;
}

.promo-item-description td:nth-child(3n),
.promo-item-description th:nth-child(3n) {
  padding-right: 75px;
}

.advantages-text-block {
  width: 450px;
}

.main-slider-controls {
  position: absolute;
  display: flex;
  flex-direction: row;

  list-style: none;

  right: 83px;
  top: 323px;
  z-index: 4;
}

.promo-slide-label {
  position: relative;
}

.promo-slide-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 50%;

}

.main-slider-controls li {
  padding-left: 21px;
}

/* Стилизация модального окна */
.modal-write-us {
  display: none;

  position: fixed;
  width: 760px;
  /* max-height: 361px; */
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -277px;
  padding-left: 100px;
  padding-top: 95px;
  padding-right: 100px;
  padding-bottom: 78px;
  /* нижний паддинг перепроверить */

  box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.button-modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  background-color: rgba(240, 197, 46, 0.5);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.button-modal-close:hover {
  background-color: rgba(240, 197, 46, 1);
}

.button-modal-close::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 2px;
  transform: translateX(-10px) rotate(45deg);
  /* transform: translateX(10px); */
  background-color: #ffffff;
}
.button-modal-close::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 2px;
  transform:  translateX(-10px) rotate(-45deg);
  background-color: #ffffff;
}

.write-us-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"],
.write-us-form textarea {
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: rgba(229, 229, 229, 0.5);
  border: none;
}

.write-us-form input[type="text"]:hover,
.write-us-form input[type="email"]:hover,
.write-us-form textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.write-us-form input[type="text"]:focus,
.write-us-form input[type="email"]:focus,
.write-us-form textarea:focus {
  background-color: #ffffff;
  outline: 3px solid rgba(240, 197, 46, 0.5);
}

.write-us-form input[type="text"]:invalid,
.write-us-form input[type="email"]:invalid,
.write-us-form textarea:invalid {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: rgba(237, 181, 181, 0.5);
}

.write-us-form input[type="text"],
.write-us-form input[type="email"] {
  width: 360px;
}

.write-us-form textarea {
  width: 760px;
  margin-bottom: 40px;
}

.write-us-form dd,
.user-contacts {
  margin: 0;
}

.write-us-form dt {
  padding-bottom: 5px;
}

.user-message {
  margin: 0;
  margin-top: 35px;
}

.user-contacts:nth-child(3) {
  margin-left: 40px;
}

/* Фильтр иконки */
input[type="checkbox"] + label {
  position: relative;
  padding-left: 40px;
  padding-bottom: 16px;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  background: url("../img/checkbox-off.svg") no-repeat;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
}

input[type="checkbox"]:checked + label::before {
  background: url("../img/checkbox-on.svg") no-repeat;
  width: 27px;
  height: 23px;
}

input[type="radio"] + label {
  position: relative;
  padding-left: 41px;
  padding-bottom: 16px;
}
input[type="radio"] + label::before {
  content: "";
  position: absolute;
  background: url("../img/radio-off.svg") no-repeat;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
}
input[type="radio"]:checked + label::before {
  background: url("../img/radio-on.svg") no-repeat;
}
.price-range {
  position: relative;
  width: 200px;
  height: 1px;
  /* margin-top: 10px; */
  /* margin-bottom: 21px; */
  background-image: linear-gradient(to right, #91c92f 0%, #91c92f 60%, #dbdbdb 60%, #dbdbdb 100%);
  top: 11px;
  left: 0;
}
.price-range::before {
  content: "";
  position: absolute;
  background: url("../img/filter-button.svg") no-repeat;
  width: 20px;
  height: 23px;
  top: -10px;
  left: 0;
}
.price-range::after {
  content: "";
  position: absolute;
  background: url("../img/filter-button.svg") no-repeat;
  width: 20px;
  height: 23px;
  top: -10px;
  left: 113px;
}
